* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: sans-serif;
  user-select: none;
  background-color: whitesmoke;
}

.active{
  color: white !important;
}